.sobre__descricao {
    color: #595959;
    font-weight: 100;
}

@media screen and (min-width: 0px) {
    .sobre__descricao {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 600px) {
    .sobre__descricao {
        font-size: 1.75rem;
    }
}



/*tira essa linha e coloca no media font-weight: 100; */